@import "../../scss/mixins";

.navigation {
  display: flex;
  gap: 1rem;
  width: fit-content;
  margin: 40px;
  margin-bottom: 0;
  flex-direction: column;
  z-index: 1;
}

.homeLink {
  z-index: 1;
  img {
    width: 121px;
    height: 121px;
  }
}

.navGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & a,
  & button {
    position: relative;
    display: flex;
    cursor: pointer;
  }
  z-index: 1;
}

.buttonIcon {
  @include position(50%, 50%, $centered: true);
}

.burgerButton {
  all: unset;
  img {
    width: 61px;
    height: 61px;
  }
}

.shareLink {
  transform: translate(2px, -2px);
}

.facebookLink {
  transform: translate(4px, 1px);
}

.instagramLink {
  transform: translate(-1px, -1px);
}

.shareButton,
.facebookButton,
.instagramButton {
  width: 61px;
  height: 61px;
}
