@font-face {
  font-family: "Sandro-Universal-Bold";
  src: url("/assets/fonts/SandroFont/SandroUniversal-Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: "sandro-Regular";
  src: url("/assets/fonts/SandroFont/sandro-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "sandro-Bold";
  src: url("/assets/fonts/SandroFont/sandro-Bold.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "sandro-Regular", sans-serif;
}
